<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="home-allign">
        <div class="home-container">
            <h1 class="main-title">OFC</h1>
            <img src="{{ url_for('static', filename='image/logo.png') }}" alt="OFC Logo" class="logo">
            <p class="slogan">"Le goût du poulet, l'art de la friture"</p>
            <div class="nav-links">
                <a href="{{ url_for('sign_in') }}" class="btn btn-primary">Sign Up</a>
                <a href="{{ url_for('login') }}" class="btn btn-primary">Login</a>
            </div>
        </div>
    </div>
</body>

</html>