<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reçus - OFC Original Fried Chicken</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Vos reçus</h2>
<table class=".enhanced-table">
    <tr>
        <th>Référence</th>
        <th>Prix Total</th>
        <th>Date</th>
        <th>Actions</th>
    </tr>
    {% for recu in receipts %}
    <tr>
        <td>{{ recu.ref_commande }}</td>
        <td>{{ recu.prix_total }} €</td>
        <td>{{ recu.date.strftime('%d/%m/%Y %H:%M') }}</td>
        <td><a href="{{ url_for('receipt_details', ref_commande=recu.ref_commande) }}">Voir détails</a></td>
    </tr>
    {% endfor %}
</table>


    <nav>
        <a href="{{ url_for('home') }}" class="btn btn-secondary">Accueil</a>
        <a href="{{ url_for('menu') }}" class="btn btn-secondary">Nouvelle Commande</a>
    </nav>

</body>
</html>
